body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
}
h1, h2{
    color: rgb(0, 0,255);
}
nav{
    background-color: black;
    text-align: center;
}
nav ul li{
    list-style-type:none;
    color:whitesmoke;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 14px 12px;
    transition: color 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
nav ul li:hover{
    color: #7d8298;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
section{
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
footer{
    background-color: black;
    text-align: center;
    color:whitesmoke;
    padding: 10px 10px;
}
.one{
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
    margin-left: 470px;
}
#curriculum ul{
    display: flex;
    padding: 6px;
    gap: 10px;
}
#curriculum li{
    list-style: none;
    text-align: center;
    background-color:#f4eeee;
    padding: 8px;
    border-radius: 5px;
}
#curriculum li p{
    text-align: center;
    padding: 8px;
}